@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,
html {
    font-family: "Inter", sans-serif;
    width: 100%;
    top: -40px;
    left: -960px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    position: absolute; 
    width: 39px; 
    height: 31.42px; 
    top: 40px; 
    left: 100px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.arrow i {
    font-size: 24px; 
    color: black; 
}

.arrow:hover i {
    color: #FF6064; 
}

.container_3 {
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.conteudo_3 {
    height: 168px;
    width: 85%;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.screen_4 {
    margin-top: auto;
    width: 430px;
    height: 300px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marcador_03 {
    width: -99%;
    height: 29px;
}

.next_btn_3 {
    background-color: #FF6064;
    color: white;
    width: 78%;
    height: 45px;
    border-radius: 23px;
    border: none;
    transition: box-shadow 0.3s;
    margin-top: 10px;
    cursor: pointer;
}

.next_btn_3:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 375px) and (max-height: 880px) {
    .arrow {
        position: fixed;
        width: 35px; 
        height: 28.28px; 
        top: 10px; 
        left: 15px; 
        display: flex; 
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none; 
        cursor: pointer; 
        transition: background-color 0.3s ease, color 0.3s ease; 
    }

    .arrow i {
        font-size: 22px;
        color: black;
    }

    .arrow:hover i {
        color: #FF6064;
    }

    .container_3 {
        display: flex;
        flex-flow: column wrap;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        padding: 20px;
    }

    .conteudo_3 {
        height: 150px;
        width: 85%;
        display: flex;
        flex-flow: column nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .screen_4 {
        margin-top: auto;
        width: 387px;
        height: 270px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .marcador_03 {
        width: 89%;
        height: 26px;
        margin-bottom: 10px;
        transform: translateX(100px);
    }

    .next_btn_3 {
        background-color: #FF6064;
        color: white;
        width: 70%; 
        height: 40px;
        border-radius: 23px;
        border: none;
        transition: box-shadow 0.3s;
        margin-top: 20px;
        cursor: pointer;
    }

    .next_btn_3:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
}
