@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,
html {
    font-family: "Inter", sans-serif;
    width: 100%;
    top: -40px;
    left: -960px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.conteudo{
    height: 168px;
    width: 85%;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.screen_1 {
    margin-top: auto;
    width: 430px;
    height: 300px;
    top: -151px;
    left: -1671px;
    padding: 40px;
}
.marcador {
    width: 119px;
    height: 28px;
    top: 533px;
     
}

.next_btn {
    background-color: #FF6064;
    color: white;
    width: 336px;
    height: 45px;
    top: 586px;
    left: -1521px;
    border-radius: 23px;
    border: none;
    transition: box-shadow 0.3s;
}

.next_btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}